{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruction - Double
{% endblock %}

{% block content %}


<h4>Basic ideas of the experiment</h4>
<ul>
  <li>In each round, you will be grouped randomly and anonymously with several other participants. 
      Each participant has three possible statuses: “waiting in the line”, “serivce room”, and “service finished”.  </li>
  <li>At the beginning of each round, every participant is “waiting in the line” and they can start to exchange positions with the participants next to them. </li>
  <li>The line moves forward every 20 seconds where the front participant goes to the "service room" and others remain in the line and can continue to exchange positions</li>
  <li>Participants can only be involved in one exchange at a time. So you cannot interact with someone who is already interacting with others</li>
</ul>

<h4>How your payoff is calculated</h4>
<ul>
  <li>Your payoff in each round will be given by <b> E + V - (n-1)*C + T </b> </li>
  <li><b>E (Endowment)</b> is the value you own at the beginning of each period.  </li>
  <li><b>V (Value)</b> is the value of the service you get after you enter the service room. </li>
  <li><b>n</b> is your final position in the line in which you are served. </li>
  <li><b>C (Cost)</b> is your waiting cost. Whenever someone enters the service room, you will lose C if you are still in the waiting line.	
      C will be determined randomly for each participant in each round. </li>
  <li><b>T (Transfer)</b> is the sum of all transfers you receive minus all transfers you make from exchanging positions with others under some rules. </li>
</ul>

<h4>The rule you are currently playing: <b>Double</b></h4>
<ul>
  <li>You can send an offer to the person in front of you. The requestee will need to send a price back to you.  </li>
  <li>The requestee cannot see your offer when they send back the price. </li>
  <li>If your price is higher than or equal to the requestee’s price, the offer succeeds. 
Both of you exchange positions and you will transfer the average of your offer and the requestee’s price to the requestee. </li>
  <li>You may also receive an offer from participants directly behind you and you will need to respond to that offer. </li>
</ul>

{% endblock %}
