{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruction
{% endblock %}

{% block content %}

<p>
In this experiment, you will interact with other players in multiple rounds. 
In each round, you will be grouped randomly and anonymously with several other participants and will be “standing in a line” with others, waiting to be “served”. 
Each participant has three possible statuses: “waiting in the line”, “in service”, and “served”. 
</p>

<p>
At the beginning of each round, you will get some amount (in points) of initial endowment E. 
You will also receive some value V after you complete your service. 
However, as in real life, waiting in line is costly. 
You will lose C points for every person who is served before you. 
This will represent the cost of waiting.
</p>

<p>
The order of the line will be determined randomly at the beginning of each round. 
The round will be divided into several periods, where each period encompasses one player’s service turn. 
At the beginning of each round (the first period starts), every participant is “waiting in the line” and they can start to exchange positions with the participants immediately next to them. 
Depending on the rule, different buttons will be visible under the person immediately in front of you. 
If the button is grey, this means the person you are trying to interact with is already interacting with the person in front of them; otherwise, you may initiate an interaction with said person. 
</p>

<p>
Participants can exchange positions with others under specific rules (detailed in the next section). 
At the end of the first period, the first participant in the line will go to the service room, others remain in the line and the second period will start. 
The service for each participant will take one period (20 seconds) and the round ends when all participants have finished the service.
</p>

<p>
Your payoff in each round will be given by <b> E + V - (n-1)*C + T </b>, where n is the order or place in which you are served. 
For the first to be served n=1, for the second to be served n=2, and so on. 
<b>T (trade)</b> is the sum of all transfers you receive minus all transfers you make from trading or exchanging places with others. 
Under some rules, you cannot trade money with other participants, so T will be 0 under those rules.
</p>

<p>
<b>E (Endowment)</b> is the value you have at the beginning of each round. 
<b>V (Value)</b> is the value of the service, which will be applied to a player’s point total only after they have finished their service turn. 
<b>C (Cost)</b> is the time cost per period which will be deducted from a player’s point total after each period they participate in that does not send them to the service room.	
This cost C will be different for different people and even for the same person in different rounds. 
C will be determined randomly for each player in each round. 
At the beginning of each round, your C will be revealed to you on your screen.

Each person’s C is private information to them. No one else will know your C and you will not be informed of anyone else’s C.  
E and V are the same for everyone in your group.
</p>

<p>
In some rounds, you may be allowed to use a chatbox to send a text message with your offer price (or exchange request).
    The chatbox allows you to freely text your message.
    However, you will be permanently removed from our subject pool if you use profanity or hateful language. 
    This type of messages can be detected from our dataset.
    You should also respect others' privacy and not share your own private information.
</p>
    
<p>
You can only be involved in one offer (or exchange request) at a time. 
If you are involved in an offer, you cannot receive an offer from other participants. 
Similarly, you cannot trade with participants who are currently in an offer.
</p>

<p>
When you finish reading, please press next.
</p>

    {% next_button %}

{% endblock %}
