{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Interaction Rules - Swap
{% endblock %}

{% block content %}

<p>
In the following rounds, you will exchange positions under <b>Swap</b>: 
<ul>
  <li>You can ask the participant directly in front of you to exchange positions.  </li>
  <li>The requestee needs to either accept or decline your exchange request.  </li>
  <li>You may also receive the exchange request from participants directly behind you. </li>
</ul>
</p>

<p>
When you finish reading, please press next to take a quiz before you start the game.
    You can always review the instruction by clicking the "Review the Instruction" button 
    at the end of the pages when you are at quiz pages and result pages.
</p>

    {% next_button %}

{% endblock %}
