{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Interaction Rules - Double
{% endblock %}

{% block content %}

<p>
In the following rounds, you will interact under <b>Double</b>: 
Under this rule, you can send an offer to the person in front of you. The requestee will need to send a price back to you.
The requestee cannot see your offer when they send back the price.
If your price is higher than or equal to the requestee’s price, the offer succeeds. 
Both of you exchange positions and you will transfer the average of your offer and the requestee’s price to the requestee. 
You may also receive an offer from participants directly behind you and you will need to respond to that offer.
</p>

<p>
When you finish reading, please press next to take a quiz before you start the game.
    You can always review the instruction by clicking the "Review the Instruction" button 
    at the end of the pages when you are at quiz pages and result pages.
    However, you cannot review the instruction when you are interacting with others.
</p>

    {% next_button %}

{% endblock %}
