{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Interaction Rules - Token
{% endblock %}

{% block content %}

<p>
In the following rounds, you will interact under <b>Token</b>: 
Under this rule, you participate in the same environment as in the Swap rule. 
However, after each exchange, you will gain (lose) a token if you move back (forward) a spot. 
Each person starts the block of token rounds with 0 tokens and will accumulate or lose tokens over the course of the block.
That is to say, token will be inherited from previous rounds to the current round as long as they belong to the same block.
Tokens do not pay dividends and are not converted to money at any point in the experiment. 
When you receive a swap request, you can observe the number of tokens the requester owns.
When you ask for a swap, you cannot observe the number of tokens the requestee owns.
Only the points earned during each round may be converted to money.
</p>

<p>
When you finish reading, please press next to take a quiz before you start the game.
    You can always review the instruction by clicking the "Review the Instruction" button 
    at the end of the pages when you are at quiz pages and result pages.
    However, you cannot review the instruction when you are interacting with others.
</p>

    {% next_button %}

{% endblock %}
