{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Interaction Rules - Token
{% endblock %}

{% block content %}

<p>
In the following rounds, you will exchange positions under <b>Token</b>: 
<ul>
  <li>You can ask the participant directly in front of you to exchange positions.  </li>
  <li>The requestee needs to either accept or decline your exchange request.  </li>
  <li>You may also receive the exchange request from participants directly behind you. </li>
  <li>After each exchange, you will gain (lose) a token if you move back (forward) a spot.   </li>
  <li>Each person starts the block of token rounds with 0 tokens. 
      Token will be inherited from previous rounds to the current round as long as they belong to the same block.  </li>
  <li>When you receive a swap request, you can observe the number of tokens the requester owns. </li>
  <li>When you ask for a swap, you cannot observe the number of tokens the requestee owns. </li>
  <li>Tokens do not pay dividends and are not converted to money at any point in the experiment. </li>
</ul>
</p>

<p>
When you finish reading, please press next to take a quiz before you start the game.
    You can always review the instruction by clicking the "Review the Instruction" button 
    at the end of the pages when you are at quiz pages and result pages.
</p>

    {% next_button %}

{% endblock %}
