{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruction
{% endblock %}

{% block content %}

<p>
In this experiment, you will interact with other participants in multiple rounds. 
    In each round, you will be grouped randomly and anonymously with several other participants and will be “standing in a line” with others, waiting to be “served”. 
    The user interface looks as follows.
</p>

<img class="center-fit" src="{% static "queue_ui.PNG" %}"/>

{% block styles %}
    <style>
    	.center-fit {
    		max-width: 100%;
            max-height: 100vh;
            margin: auto;
    	}
    </style>
{% endblock %}

<p>
The line of circles shows the current status of the “line”. 
    The initial order of the circles in the line will be determined randomly at the beginning of each round. 
    The number of circles shows the number of participants in your group. Your position is marked in black. 
    The line is divided into three parts which correspond to participants’ status: “waiting in line” (left), “service room” (middle), and “service finished” (right). 
    E.g. in the screenshot above, we have 5 participants “waiting in line”, 1 participant is in the “service room”, and nobody is under “service finished”.
</p>

<p>
At the beginning of each round, every participant is “waiting in line” and they can exchange positions with participants next to them under specific rules (details will be mentioned before you start the experiment). 
    Depending on the rule, different buttons will be visible under the person immediately in front of you. 
    In the screenshot above, you are the 2nd person in the line (the black circle) and you can see two buttons under the 1st person in the line.
</p>

<p>
After 20 seconds, the front participant in the line will go to the “service room” while others remain in the line. 
    Participants can continue to exchange positions. 
    The line will move forward every 20 seconds and the round ends when all participants have finished the service. 
    Participants who have finished their service will be placed under the “service finished” zone.
</p>

<p>
If you exchange positions and move forward, you may lose some transfers depending on the rule and will earn C (your waiting cost, will explain in the next page) since your total waiting time decreases. 
    If you exchange positions and move backward, you may gain some transfers depending on the rule and will lose C since your total waiting time increases. 
    Participants can only be involved in one exchange at a time, if you are involved in an exchange, you cannot receive exchange requests from other participants. 
    Similarly, you cannot exchange with participants who are currently in an exchange (their buttons will turn grey).
</p>

{% next_button %}

{% endblock %}
