{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    User Interface
{% endblock %}

{% block content %}

<img class="center-fit" src="{% static "queue_ui.PNG" %}"/>

{% block styles %}
    <style>
    	.center-fit {
    		max-width: 100%;
            max-height: 100vh;
            margin: auto;
    	}
    </style>
{% endblock %}

<p>
Your payoff in each round will be given by E + V - (n-1)*C + T.
<ul>
  <li>E (Endowment) is the value you own at the beginning of each round.</li>
  <li>V (Value) is the value of the service you get after you enter the service room.</li>
  <li>n is your final position in the line in which you are served.</li>
  <li>C (Cost) is the waiting cost. 
      Whenever someone enters the service room, C will be deducted from your round payoff if you are still in the waiting line. 
      At the beginning of each round, C will be determined randomly for each participant. 
      No one else will know your C and you will not be informed of anyone else’s C. 
  </li>
  <li>T (Transfer) is the total transfer you make from exchanging positions with others during the round, which depends on the rule you play.</li>
</ul>
</p>

<p>
The upper panel of the user interface shows the parameters and information of current round, including:
<ul>
  <li>Round number, Endowment E, service value V,  waiting cost C, and current payoff.</li>
  <li>Exchange rule, whether communication is allowed, and service time (how fast the line moves forward).</li>
  <li>Remaining time. It is possible that the system has a few seconds lagging based on the quality of your internet connection. 
      As a result, your round may end when the remaining time is still positive. </li>
</ul>
</p>

<p>
At the end of each round, you can review your game history from the previous round on your result page.
</p>

<p>
If you finish reading, please raise your hand by clicking the blue icon in the Zoom room under "participant" section and wait for the host to advance the page.
</p>

{% endblock %}
