{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Welcome to LEEPS Online Laboratory!
{% endblock %}

{% block content %}

<p>
Below shows the user interface of the experiment. The interface includes two panels:
</p>

<img class="center-fit" src="{% static "queue_ui.PNG" %}"/>

{% block styles %}
    <style>
    	.center-fit {
    		max-width: 100%;
            max-height: 100vh;
            margin: auto;
    	}
    </style>
{% endblock %}

<p>
Upper panel shows the parameters and information of current round: <br>
The first column shows the current round number. <br>
The second column shows your own information: the value of service V, and your waiting cost C per “trading period”. <br>
The third column shows the round information: Double\Swap\Take/Leave\Token, Communication\No Communication 
(You might only see some of them today) <br>
The fourth column shows your current payoff. <br>
The last column shows the remaining time in the current round (not the current trading period, notice the line will move forward during each round). <br>
</p>

<p>
Lower panel shows the information of current waiting line and participants’ status: <br>
The number of circles shows the number of players in your group. Your position is marked in black. <br>
The line is divided into three parts which correspond to participants’ status: “waiting in the line”(left), “being served”(middle), and “service finished”(right). <br>
The button on the bottom of each participants’ circle shows how you can interact with them. (not shown on the figure but you will see it in the game) <br>
</p>

<p>
At the end of each round, you can review your game history from the previous round on your result page.
</p>


    {% next_button %}

{% endblock %}
